# Python cache files
__pycache__/
*.py[cod]

# SQLite database files
biblioteca.db

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Logs
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized files
*.py[cod]
